<h1>{{title}}</h1>
<h2>{{showSearchTerm}}</h2> 
<section>
{{#if shows}}
<ul> 
    {{#each shows}} 
    <li>
        <a href="/show/{{show.id}}">{{show.name}}</a>
    </li>
    {{/each}}
</ul>
{{else}}
<div> 
    <p class="show-not-found" >We're sorry, but no results were found for {{showSearchTerm}}.</p>
</div>
{{/if}}
<div>
    <a href="/">Make another search</a>
</div>
</section>



